CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.sln
*.vcproj
src/**/*.vcproj
src/**/*.vcproj.filters

/test_build
/build