CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

_build/x86-Debug/
_build/x86-Release/
_build/x64-Debug/
_build/x64-Release/

.vs/

/test_build
/build