[submodule "thirdparty/simpleini"]
    path = thirdparty/simpleini
    url = https://github.com/brofield/simpleini.git

[submodule "thirdparty/pugixml"]
    path = thirdparty/pugixml
    url = https://github.com/zeux/pugixml.git